<div class="dashboard-container">


  <h1>
    Bienvenido a SmartLook
  </h1>


  <p>
    Panel principal del sistema
  </p>



  <div class="cards">


    <div class="card">

      <h3>
        Catálogo
      </h3>

      <p>
        Gestión de productos y prendas
      </p>

    </div>



    <div class="card">

      <h3>
        Inventario
      </h3>

      <p>
        Control de existencias
      </p>

    </div>



    <div class="card">

      <h3>
        Ventas
      </h3>

      <p>
        Información comercial
      </p>

    </div>


  </div>


</div>